<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ============================= -->
    <!-- Gazebo Materials              -->
    <!-- ============================= -->

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="wheel_1">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_2">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_3">
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- ============================= -->
    <!-- Wheel Friction                -->
    <!-- ============================= -->

    <gazebo reference="wheel_1">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>

    <gazebo reference="wheel_2">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>

    <gazebo reference="wheel_3">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>

    <!-- ============================= -->
    <!-- ros2_control Plugin           -->
    <!-- ============================= -->

    <gazebo>
        <plugin
            name="gazebo_ros2_control"
            filename="libgazebo_ros2_control.so">

            <parameters>
                $(find lekiwi_description)/config/controllers.yaml
            </parameters>

        </plugin>
    </gazebo>

</robot>
